<fieldset class="collapsible-fieldset">
    <legend>
        <button type="button" class="collapse-toggle">
            <span class="toggle-icon">▼</span>
        </button>
        Costos Unitarios
    </legend>
    <div class="fieldset-content">
        <label for="ContEnfQui_Emer_Flor">
            <input id="ContEnfQui_Emer_Flor" type="number" name="ContEnfQui_Emer_Flor" value="35000">
            Numero de controles enfermedades mediante quimicos etapas de Emergencia- Floracion
        </label>
        <label for="ContEnfQui_Flor_Cose">
            <input id="ContEnfQui_Flor_Cose" type="number" name="ContEnfQui_Flor_Cose" value="35000">
            Numero de controles enfermedades mediante quimicos etapas de Floración a Cosecha
        </label>
        <label for="ContMalMec_Siem_Emer">
            <input id="ContMalMec_Siem_Emer" type="number" name="ContMalMec_Siem_Emer" value="400000">
            Numero de controles de malezas mediante herramientas mecanizada etapas de Siembra a Emergencia
        </label>
        <label for="ContMalMec_Emer_Flor">
            <input id="ContMalMec_Emer_Flor" type="number" name="ContMalMec_Emer_Flor" value="400000">
            Numero de controles de malezas mediante herramientas mecanizada etapas de Emergencia a Floración
        </label>
        <label for="ContMalMec_Flor_Cose">
            <input id="ContMalMec_Flor_Cose" type="number" name="ContMalMec_Flor_Cose" value="400000">
            Numero de controles de malezas mediante herramientas mecanizada etapas de Floración a Cosecha
        </label>
        <label for="ContMalQui_Antes_Siem">
            <input id="ContMalQui_Antes_Siem" type="number" name="ContMalQui_Antes_Siem" value="64000">
            Numero de controles de malezas mediante Quimicos antes de la siembra
        </label>
        <label for="ContMalQui_Siem_Emer">
            <input id="ContMalQui_Siem_Emer" type="number" name="ContMalQui_Siem_Emer" value="64000">
            Numero de controles de malezas mediante Quimicos en las etapas de siembra a emergencia
        </label>
        <label for="ContMalQui_Emer_Flor">
            <input id="ContMalQui_Emer_Flor" type="number" name="ContMalQui_Emer_Flor" value="35000">
            Numero de controles de malezas mediante Quimicos en las etapas de emergencia a Floración
        </label>
        <label for="ContMalQui_Flor_Cose">
            <input id="ContMalQui_Flor_Cose" type="number" name="ContMalQui_Flor_Cose" value="64000">
            Numero de controles de malezas mediante Quimicos en las etapas de Floración a Cosecha
        </label>
        <label for="ContPlaQui_Antes_Siem">
            <input id="ContPlaQui_Antes_Siem" type="number" name="ContPlaQui_Antes_Siem" value="80000">
            Numero de controles de Plagas mediante Quimicos Antes de la siembra
        </label>
        <label for="ContPlaQui_Siem_Emer">
            <input id="ContPlaQui_Siem_Emer" type="number" name="ContPlaQui_Siem_Emer" value="130000">
            Numero de controles de Plagas mediante Quimicos en las etpas de siembra a emergecia
        </label>
        <label for="ContPlaQui_Emer_Flor">
            <input id="ContPlaQui_Emer_Flor" type="number" name="ContPlaQui_Emer_Flor" value="130000">
            Numero de controles de Plagas mediante Quimicos en las etpas Emergencia a Floracion
        </label>
        <label for="ContPlaQui_Flor_Cose">
            <input id="ContPlaQui_Flor_Cose" type="number" name="ContPlaQui_Flor_Cose" value="130000">
            Numero de controles de Plagas mediante Quimicos en las etpas Floracion a Cosecha
        </label>
        <label for="TotN_Antes_Siem">
            <input id="TotN_Antes_Siem" type="number" name="TotN_Antes_Siem" value="3200">
            Total de Nitrogeno antes de la siembra (kg)
        </label>
        <label for="TotN_Siem_Emer">
            <input id="TotN_Siem_Emer" type="number" name="TotN_Siem_Emer" value="3200">
            Total de Nitrogeno de Siembra a Emergencia(kg)
        </label>
        <label for="TotN_Emer_Flor">
            <input id="TotN_Emer_Flor" type="number" name="TotN_Emer_Flor" value="3200">
            Total de Nitrogeno de Emergencia a Floración (kg)
        </label>
        <label for="TotP_Antes_Siem">
            <input id="TotP_Antes_Siem" type="number" name="TotP_Antes_Siem" value="4000">
            Total de Fosforo antes de la siembra (kg)
        </label>
        <label for="TotP_Siem_Emer">
            <input id="TotP_Siem_Emer" type="number" name="TotP_Siem_Emer" value="4000">
            Total de Fosforo de Siembra a Emergencia(kg)
        </label>
        <label for="TotP_Emer_Flor">
            <input id="TotP_Emer_Flor" type="number" name="TotP_Emer_Flor" value="4000">
            Total de Fosforo de Emergencia a Floración (kg)
        </label>
        <label for="TotK_Antes_Siem">
            <input id="TotK_Antes_Siem" type="number" name="TotK_Antes_Siem" value="3000">
            Total de Potasio antes de la siembra (kg)
        </label>
        <label for="TotK_Siem_Emer">
            <input id="TotK_Siem_Emer" type="number" name="TotK_Siem_Emer" value="3000">
            Total de Potasio de Siembra a Emergencia(kg)
        </label>
        <label for="TotK_Emer_Flor">
            <input id="TotK_Emer_Flor" type="number" name="TotK_Emer_Flor" value="3000">
            Total de Potasio de Emergencia a Floración (kg)
        </label>
    </div>
</fieldset>
